.custom-navbar {
  /* padding: 1rem 0; */
  /* z-index: 1001; */
  width: 100%;
  position: fixed;
}

.custom-logo {
  width: 100px;
  height: 50px;
  object-fit: cover;
}

.nav-link-custom {
  font-size: 1.1rem;
  padding: 0 15px;
  transition: color 0.3s;
}

.nav-link-custom:hover {
  color: #f8f9fa;
}

.search-bar-custom {
  border-radius: 2px;
  padding: 5px 15px;
}

.search-button-custom {
  padding: 5px 15px;
  border-radius: 2px;
}

.nav-icon-custom {
  /* margin-left: 20px; */
}

.nav-icon-custom svg {
  margin-right: 5px;
}

@media (max-width: 992px) {
  .search-bar-custom {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-button-custom {
    width: 50%;
    margin-bottom: 10px;
  }

  .nav-link-custom {
    text-align: center;
    padding: 10px 0;
  }
}

.nav-link-custom.active {
  color: rgb(220, 53, 69, 1) !important;
}

.nav-icon-custom-cart svg:hover {
  fill: green;
  transform: rotate(360deg);
  transition: all ease 0.4s;
}
